.container {
    width:300px;
    height:350px;
    perspective:1100px;
    perspective-origin: 50% 50%;
    clear:both; 
    float: left; 
    margin-top:10px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
   
}
.cube {
    width:300px;
    height:300px;
    position: relative;
    transform-style:preserve-3d;
    transform:translatez(-100px);
	-webkit-transform:translatez(-100px);
    transition:2s;
	padding-left: 150px;
}
.cube img {
    width:300px;
    height:300px;
    position:absolute;
}
.front { 
    transform: translateZ(150px); 
    -webkit-transform: translateZ(150px); 
    }
.left { 
    transform: rotateY(-90deg) translateZ(150px); 
    -webkit-transform: rotateY(-90deg) translateZ(150px);
}
.right { 
    transform: rotateY(90deg) translateZ(150px);
    -webkit-transform: rotateY(90deg) translateZ(150px);
}
.top { 
    transform: rotateX(90deg) translateZ(150px);
    -webkit-transform: rotateX(90deg) translateZ(150px);
}
.bottom {
    transform: rotateX(-90deg) translateZ(150px);
    -webkit-transform: rotateX(-90deg) translateZ(150px);
}
.back { 
    transform: rotateY(180deg) translateZ(150px);
    -webkit-transform: rotateY(180deg) translateZ(150px);
}
label {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    background: #900C3F;;
    display: inline-block;
    margin:auto;
}
label:hover {
    background: #eee;
}

input {
    position: absolute;
    left: -9999px;
}

input[value="front"]:checked ~ .container .cube {
    -webkit-transform: translateZ(-150px) rotateY(0);
    transform: translateZ(-150px) rotateY(0);
}

input[value="left"]:checked ~ .container .cube {
	-webkit-transform: translateZ(-150px) rotateY(90deg);
    transform: translateZ(-150px) rotateY(90deg);
}

input[value="right"]:checked ~ .container .cube {
	-webkit-transform: translateZ(-150px) rotateY(-90deg);
    transform: translateZ(-150px) rotateY(-90deg);
}

input[value="top"]:checked ~ .container .cube {
	-webkit-transform: translateZ(-150px) rotateX(-90deg);
    transform: translateZ(-150px) rotateX(-90deg);
}

input[value="bottom"]:checked ~ .container .cube {
	-webkit-transform: translateZ(-150px) rotateX(90deg);
    transform: translateZ(-150px) rotateX(90deg);
}

input[value="back"]:checked ~ .container .cube {
    -webkit-transform: translateZ(-150px) rotateY(180deg);
    transform: translateZ(-150px) rotateY(180deg);
}

h1{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    background-color: teal;
}
body{
    margin: 0% 10% 2% 10%;
    background-image: linear-gradient(to right, rgba(238, 224, 240, 0), rgb(10, 92, 243));
    box-shadow: 5px 8px 10px rgba(0, 0, 0, .5);
    padding-top: 0px 10px 0px 10px;
}
body p{
    text-align: center;
    color:#900C3F;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-style: italic;
    font-weight: 300;
}
body > p{
    color:white;
    font-size: 22px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.grid-display{
    display: grid;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.item2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.item3 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}
.item4 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}

.item5 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;
}

.item6 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 6;
    grid-column-end: 7;
}

.text-display{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 7;
    width:400px;
    padding-top: 20px;
    padding-right:0;
    text-align: justify;
}
input[value="front"]:checked ~ .text-display .p1{
    display:initial;
}
input[value="front"]:checked ~ .text-display .p2,.p3,.p4,.p5,.p6{
    display:none;
}
input[value="left"]:checked ~ .text-display .p2{
    display:initial;
}
input[value="left"]:checked ~ .text-display .p1,.p3,.p4,.p5,.p6{
    display:none;
}
input[value="right"]:checked ~ .text-display .p3{
    display:initial;
}
input[value="right"]:checked ~ .text-display .p1,.p2,.p4,.p5,.p6{
    display:none;
}
input[value="top"]:checked ~ .text-display .p4{
    display:initial;
}
input[value="top"]:checked ~ .text-display .p1,.p2,.p3,.p5,.p6{
    display:none;
}
input[value="bottom"]:checked ~ .text-display .p5{
    display:initial;
}
input[value="bottom"]:checked ~ .text-display .p1,.p2,.p3,.p4,.p6{
    display:none;
}
input[value="back"]:checked ~ .text-display .p6{
    display:initial;
}
input[value="back"]:checked ~ .text-display .p1,.p2,.p3,.p4,.p5{
    display:none;
}
